<!-- fork-home v1: greeting hero + messenger-style recent chat list -->
<div class="welcomePanel">
    <div class="welcomeHero">
        <img src="img/logo.png" alt="SillyTavern Logo" data-i18n="[alt]SillyTavern Logo" class="welcomeHeaderLogo">
        <div class="welcomeHeroMain">
            <div class="welcomeGreeting">{{greeting}}</div>
            <div class="welcomeTagline">{{tagline}}</div>
        </div>
        <div class="welcomeHeroSide">
            <div class="welcomeVersion" title="SillyTavern version">{{version}}</div>
            <div class="welcomeHeroActions">
                <div class="mes_button showRecentChats" title="Show recent chats" data-i18n="[title]Show recent chats">
                    <i class="fa-solid fa-circle-chevron-down fa-fw fa-lg"></i>
                </div>
                <div class="mes_button recentChatsSettings" title="Recent chats settings" data-i18n="[title]Recent chats settings">
                    <i class="fa-solid fa-gear fa-fw fa-lg"></i>
                </div>
                <div class="mes_button hideRecentChats" title="Hide recent chats" data-i18n="[title]Hide recent chats">
                    <i class="fa-solid fa-circle-xmark fa-fw fa-lg"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="welcomeHeader">
        <div class="recentChatsTitle" data-i18n="Recent Chats">Recent chats</div>
        <button class="openTemporaryChat menu_button menu_button_icon" title="Open a temporary chat" data-i18n="[title]Open a temporary chat">
            <i class="fa-solid fa-comment-dots"></i>
            <span data-i18n="Temporary Chat">Temporary Chat</span>
        </button>
    </div>

    <div class="welcomeRecent">
        <div class="recentChatList">
        {{#if empty}}
            <div class="noRecentChat">
                <i class="fa-solid fa-comment-dots"></i>
                <span data-i18n="No recent chats">No chats yet</span>
                <small>Pick a character to start your first story.</small>
            </div>
        {{/if}}
        {{#each chats}}
            {{#with this}}
            <div class="recentChat {{#if hidden}}hidden{{/if}} {{#if is_group}}group{{/if}}" data-file="{{chat_name}}" data-avatar="{{avatar}}" data-group="{{group}}" title="{{char_name}}&#10;{{chat_name}}">
                <div class="avatar" title="[Character] {{char_name}}&#10;File: {{avatar}}">
                    <img src="{{char_thumbnail}}" alt="{{char_name}}">
                </div>
                <div class="recentChatInfo">
                    <div class="chatNameContainer">
                        {{#if pinned}}
                            <i class="fa-solid fa-thumbtack fa-fw fa-xs recentChatPinned" title="Pinned chat" data-i18n="[title]Pinned chat"></i>
                        {{/if}}
                        <strong class="characterName">{{char_name}}</strong>
                        <small class="chatDate" title="{{date_long}}">{{date_short}}</small>
                        <div class="chatActions">
                            <button class="menu_button menu_button_icon pinChat {{#if pinned}}active{{/if}}" title="Pin chat" data-i18n="[title]Pin chat">
                                <i class="fa-solid fa-thumbtack fa-fw"></i>
                            </button>
                            <button class="menu_button menu_button_icon renameChat" title="Rename chat" data-i18n="[title]Rename chat">
                                <i class="fa-solid fa-pen-to-square fa-fw"></i>
                            </button>
                            <button class="menu_button menu_button_icon deleteChat" title="Delete chat" data-i18n="[title]Delete chat">
                                <i class="fa-solid fa-trash fa-fw"></i>
                            </button>
                        </div>
                    </div>
                    <div class="chatMessageContainer">
                        <div class="chatMessage" title="{{mes}}">{{mes}}</div>
                        <div class="chatStats">
                            <i class="fa-solid fa-comment fa-xs"></i>
                            <small>{{chat_items}}</small>
                        </div>
                    </div>
                </div>
            </div>
            {{/with}}
        {{/each}}
        {{#if more}}
            <button class="menu_button menu_button_icon showMoreChats" title="Show more recent chats" data-i18n="[title]Show more recent chats">
                <small class="fa-solid fa-chevron-down fa-fw fa-1x"></small>
            </button>
        {{/if}}
        </div>
    </div>

    <div class="welcomeMascot" aria-hidden="true">
        <img src="img/mascot.png" alt="">
    </div>
</div>
